form{
    background-color:rgba(244, 247, 255, 0.8);
    justify-content:center;
    align-items:center;
    color:#fff;
    /* position:fixed; */
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    /* width: 90%; */
}

label{
    color: black;
    padding-bottom: 10px;
    /* display: block; */
    text-align: center;
    font-size:xx-large;
}

textarea{
    border-radius: 10px;
    padding: 10px;
    font-size:xx-large;
    height: 100px;
    width: 400px;
}

.TodoForm-buttonContainer{
    font-size:large;
    text-align: center;
    padding-top: 5px;
}

.TodoForm-button--cancel{
    cursor:pointer;
    margin: 0 10px;
    width: 90px;
    height: 40px;
    font-size: large;
    padding: 0;
    border-radius: 5px;
    border: 3;
}

.TodoForm-button--add{
    cursor:pointer;
    background-color: aqua;
    padding: 0;
    margin: 0 10px;
    width: 90px;
    height: 40px;
    border-radius: 5px;
    border: 3;
    border-color: aqua;
    font-size: large;
}

.TodoForm-button--add:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(11, 192, 192);
    border-color: rgb(97, 245, 250);
}
.TodoForm-button--cancel:hover{
    background-color: rgb(252, 120, 120);
    color: rgb(255, 255, 255);
    border-color: rgb(252, 55, 55);
}